img.center-picture{
    margin-top: 5px;
    aspect-ratio: 16/9;
    max-height: 400px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

p.info{
    font-size: 1.25rem;
    color: black;
    font-family: 'Gill Sans', monospace;
    margin-left: 5px;
}

p.about-us{
    font-size: 2rem;
    color: black;
    font-family: 'Gill Sans', monospace;
    justify-content: center;
    text-align: center;
    margin-bottom: 4px;
}

#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
}
@media only screen and (max-width: 700px){
    p.info{
        font-size: 1rem;
    }
}
