h1.welcome{
    background-color:cornflowerblue;
    color: aliceblue;
    font-family:'Gill Sans', Calibri;
    margin-bottom: 10px;
    text-align: center;
}

a.navigationButtons{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: xx-large;
    border-style: solid;
    border-radius: 5px;
    border-color: cornflowerblue;
    text-decoration: none;
    margin-left: 10px;
    height: 40px;
    width: 25%;
    font-family:'Lucida Grande', sans-serif;
    text-align: center;
}

@media only screen and (max-width:700px){
    a.navigationButtons{
        background-color: cornflowerblue;
        color: aliceblue;
        font-size: xx-large;
        border-style: solid;
        border-radius: 5px;
        border-color: cornflowerblue;
        text-decoration: none;
        margin-left: 10px;
        height: 40px;
        width: 95%;
        font-family:'Lucida Grande', sans-serif;
        margin-bottom: 10px;
        text-align: center;
    }
}

div.flex-container{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:700px){
    div.flex-container{
        display: flex;
        flex-direction: column;
    }   
}

img.center-picture{
    margin-top: 5px;
    aspect-ratio: 16/9;
    max-height: 400px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

p.info{
    font-size: 1.25rem;
    color: black;
    font-family: 'Gill Sans', monospace;
    margin-left: 5px;
}

p.about-us{
    font-size: 2rem;
    color: black;
    font-family: 'Gill Sans', monospace;
    justify-content: center;
    text-align: center;
    margin-bottom: 4px;
}

#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}
@media only screen and (max-width: 700px){
    #footer{
        position: static;
    }
}

@media only screen and (min-width: 701px){
    a.home-button{
        margin-left: 0px;
    }
}
