h1.welcome{
    background-color:cornflowerblue;
    color: aliceblue;
    font-family:'Gill Sans', Calibri;
    margin-bottom: 10px;
}
a.navigationButtons{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: xx-large;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-color: cornflowerblue;
    text-decoration: none;
    margin-left: 10px;
    height: 40px;
    width: 25%;
    font-family:'Lucida Grande', sans-serif;
}
div.flex-container{
    display: flex;
    flex-direction: row;
}