form.personal-data{
    display: flex;
    flex-direction: column;
}
 
.text-styling{
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
}
 
label.label-styling{
    margin-left: 10px;
}
 
input.text-form{
    height: 24px;
    width: 320px;
    outline: none;
    color: white;
    background-color: cornflowerblue;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(0, 110, 255);
    text-indent: 10px;
    margin-bottom: 10px;
    padding: 0px;
    letter-spacing: 0.7px;
}

input.text-form:last-child{
    margin-bottom: 0px;
}
 
.bonus-info{
    font-family: 'Gill Sans', monospace;
    font-size: 0.85rem;
    margin-top: 2px;
    font-style: italic;
    color: grey;
}
 
ticket-string{
    display: block;
    height: 24px;
    width: 320px;
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(0, 110, 255);
    text-indent: 10px;
    color: white;
    background-color: cornflowerblue;
    letter-spacing: 0.7px;
    user-select: none;
    line-height: 1.6;
    cursor: pointer;
    transition: 0.2s;
}

div.flex-row-container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.triangle-img{
    width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 14px solid white;
    position: absolute;
    margin-left: 300px;
    margin-top: 4px;
}

.type-options{
    height: 24px;
    width: 320px;
    font-family: 'Gill Sans', monospace;
    font-size: 1rem;
    border-style: solid;
    border-radius: 0px;
    border-width: 2px;
    border-color: rgb(0, 110, 255);
    border-top: none;
    border-bottom-width: 1px;
    text-indent: 10px;
    color: white;
    background-color: rgb(0, 170, 255);
    margin: 0px;
    letter-spacing: 0.7px;
    user-select: none;
    line-height: 1.6;
    cursor: pointer;
}

.type-options:last-child{
    border-radius: 0px 0px 14px 14px;
    border-bottom: 2px solid rgb(0, 110, 255);
}

#options{
    position: absolute;
    /* display: none; */
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: 0.2s;
    transform: translateY(-20px);
}

#price{
    user-select: none;
    pointer-events: none;
}

#submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 200px;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 15px;
    background-color: cornflowerblue;
    color: white;
    margin: 10px auto 0 auto;
    cursor: pointer;
    user-select: none;
}

#submit-btn:hover{
    background-color: rgb(0, 170, 255);
}